In [1]:
import findspark
findspark.init()

In [7]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.master('local').appName('Transpose').getOrCreate()
sc=spark.sparkContext

In [15]:
df=spark.read.format('csv').option('header',True).option('inferschema','True').load('students.csv')

In [11]:
df.show()

+-------+-------+-----+
|Roll_no|Subject|marks|
+-------+-------+-----+
|    101|English|   70|
|    102|  Maths|   80|
|    101|  Maths|   80|
|    102|English|   70|
|    103|  Maths|   50|
|    103|English|   50|
|    104|  Maths|   50|
|    104|English|   50|
+-------+-------+-----+

In [16]:
df.printSchema()

root
 |-- Roll_no: integer (nullable = true)
 |-- Subject: string (nullable = true)
 |-- marks: integer (nullable = true)

In [19]:
tbl=df.groupby('Roll_no').pivot('Subject').sum('marks')

In [20]:
tbl.show()

+-------+-------+-----+
|Roll_no|English|Maths|
+-------+-------+-----+
|    101|     70|   80|
|    103|     50|   50|
|    102|     70|   80|
|    104|     50|   50|
+-------+-------+-----+

In [22]:
tbl2=tbl.withColumn("total",tbl['English']+tbl['Maths'])

In [24]:
tbl2.show()

+-------+-------+-----+-----+
|Roll_no|English|Maths|total|
+-------+-------+-----+-----+
|    101|     70|   80|  150|
|    103|     50|   50|  100|
|    102|     70|   80|  150|
|    104|     50|   50|  100|
+-------+-------+-----+-----+